.add-review {
  flex: $flex-coontainer-width;
  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
    gap: 0.5rem;
  }
  &__input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #3d5a80;
  }
  &__input:focus {
    outline: solid 1px #3d5a80;
  }
  &__label {
    font-weight: bold;
    margin: 0.25rem 0 0.4rem 0.2rem;
  }
  &__textarea {
    border: none;
    border-radius: 0.15rem;
    min-width: 100%;
    padding: 0.5rem;
    min-height: 10rem;
    border: 01px solid #3d5a80;
    border-radius: 5px;
  }
  &__textarea:focus {
    outline: solid 1px #3d5a80;
  }
  &__button {
    width: 250px;
    margin: 1rem 0;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $cta-color;
    font-weight: bold;
    color: white;
  }
  &__error-msg {
    color: rgb(202, 97, 97);
    text-align: center;
    font-weight: bold;
  }
}

@media (max-width: 33rem) {
  .add-review {
    &__form {
      width: 100%;
    }
  }
}
