.delete-popup {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: $background-popup-color;
  padding: 2rem;
  z-index: 2;

  font-weight: bold;
  &__buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  &__button {
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
  }
}
