$sidebar-color: #3a3a3a;
$background-color: #4c555a;
$buttons-color: #727272;
$single-review-color: #b2b7c0;
$flex-coontainer-width: 11;
$flex-sidebar: 1;
$light-background: #98c1d9;
$single-review-info: #87aae6;
